@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
}

body {
    position: relative;
}


.header{
    width: 100%;
    height: 80px;
    display: block;
    background: transparent;
    position: fixed;
    padding-top: 20px;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo_container{
    height: 100%;
    display: table;
    padding-right: 140px;
}

.logo_container img{
    height: 100%;
    width: 80px;
}

.nagivation{
    height: 100%;
}

.nagivation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 40px;
}

.nagivation a:last-child{
    padding-right: 0;
}

.nagivation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    font: inherit;
    color: white;
}

.photo{
    background: rgba(0,0,0,0.7) url("./Resource/hero.jpg");
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
}

.text{
    padding-bottom: 55px;
    padding-left: 145px;
}

.text h1{
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: lighter;
}
 
.text button{
    margin-top: 10px;
    cursor: pointer;
}

.text button#o {
    justify-content: center;
    padding: 10px 30px;
    font-size: 11px;
    border-radius: 100px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
}

.text button#t {
    justify-content: center;
    padding: 10px 30px;
    font-size: 11px;
    border-radius: 100px;
    border: 2px solid orange;
    background-color: transparent;
    color: orange;
}

.text h1{
    font-family: 'Montserrat', sans-serif;
}

.dash{
    width: 100px;
    border-top: 3px solid orange;
}

.part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
}

.part2 h1{
    padding: 35px 0;
    font-weight: 50;
}

.part2 h5{
    padding-top: 35px;
    padding-bottom: 20px;
    font-weight: lighter;
    width: 65%;
}

.box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
    justify-content: center;
}

.box_child{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    margin: 0 7px;
    background-color: aquamarine;
}

.i{
    font-size: ;
}

.title{
    font-size: 18px;
    font-weight: lighter;
    margin: 5px 0;
}

.text1{
    font-size: 14px;
    font-weight: lighter;
}