@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
}

body {
    position: relative;
    background-color: whitesmoke;
}


.header{
    width: 100%;
    height: 80px;
    display: block;
    background: transparent;
    position: fixed;
    padding-top: 20px;
}

.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo_container{
    height: 100%;
    display: table;
    padding-right: 140px;
}

.logo_container img{
    height: 100%;
    width: 80px;
}

.nagivation{
    height: 100%;
}

.nagivation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0 40px;
}

.nagivation a:last-child{
    padding-right: 0;
}

.nagivation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    font: inherit;
    color: white;
}

.photo{
    background: rgba(0,0,0,0.7) url("./Resource/hero.jpg");
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    align-items: center;
}

.text{
    padding-bottom: 55px;
    padding-left: 145px;
}

.text h1{
    font-size: 40px;
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: lighter;
}
 
.text button{
    margin-top: 10px;
    cursor: pointer;
}

.text button#o {
    justify-content: center;
    padding: 10px 30px;
    font-size: 11px;
    border-radius: 100px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
}

.text button#t {
    justify-content: center;
    padding: 10px 30px;
    font-size: 11px;
    border-radius: 100px;
    border: 2px solid orange;
    background-color: transparent;
    color: orange;
}

.text h1{
    font-family: 'Montserrat', sans-serif;
}

.dash{
    width: 100px;
    border-top: 3px solid orange;
}

.part2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.part2 h1{
    padding: 25px 0;
    font-weight: 50;
}

.part2 h5{
    padding-top: 25px;
    font-weight: lighter;
    width: 65%;
}

.box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 270px;
    justify-content: center;
}

.box_child{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
    margin: 0 20px;
}

.fa-solid, .fa-regular{
    color: orange;
}

.title{
    font-size: 18px;
    font-weight: lighter;
    margin-top: 15px;
    margin-bottom: 10px;
}

.text1{
    font-size: 14px;
    font-weight: lighter;
    text-align: justify;
    text-justify: inter-word;
    line-height: 20px;
}

.part3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ph{
    display: block;
    width: 25%;
    height: 230px;
    background-blend-mode: lighten;
}

#one{
    background: rgba(255, 255, 255, 0.3) url("./Resource/1.jpg");
    background-size: cover;
}

#two{
    background: rgba(255, 255, 255, 0.3) url("./Resource/2.jpg");
    background-size: cover;
}

#tr{
    background: rgba(255, 255, 255, 0.3) url("./Resource/3.jpg");
    background-size: cover;
}

#f{
    background: rgba(255, 255, 255, 0.3) url("./Resource/4.jpg");
    background-size: cover;
}

#fi{
    background: rgba(255, 255, 255, 0.3) url("./Resource/5.jpg");
    background-size: cover;
}

#s{
    background: rgba(255, 255, 255, 0.3) url("./Resource/6.jpg");
    background-size: cover;
}

#se{
    background: rgba(255, 255, 255, 0.3) url("./Resource/7.jpg");
    background-size: cover;
}

#e{
    background: rgba(255, 255, 255, 0.3) url("./Resource/8.jpg");
    background-size: cover;
}

.part4{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}


.part4 h1{
    margin: 40px 0 30px 0;
    font-weight: lighter;
}

.guide{
    width: 675px;
    height: 420px;
    margin: 25px 0;
}

.arr{
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

.arr h5{
    font-weight: lighter;
    font-size: 18px;
}

.phone{
    float: left;
    width: 220px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./Resource/app-iPhone.png");
}

.icons{
    margin-top: 50px;
}

#and{
    height: 42px;
    margin-right: 15px;
}

.part5{
    width: 100%;
    height: 630px;
    background-color: rgb(253, 253, 253);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.part5 h1{
    margin: 50px 0 20px;
    font-weight: lighter;
}

.place{
    width: 65%;
    height: 250px;
    display: block;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

.address{
    width: 22%;
    height: 100%;
}

.address img{
    width: 100%;
}

.address h3{
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
}

.info h5{
    display: inline-block;
    font-weight: lighter;
}

.fa-solid .fa-user{
    display: inline-block;
}

a{
    color: orange;
}

.fa-twitter{
    color: orange;
}

.guest{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    background-color: rgb(253, 253, 253);
}

.person{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 250px;
    margin-top: 150px;
}

.price{
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price h1{
    font-weight: lighter;
    margin: 60px 0 30px;
}

.choice{
    width: 65%;
    height: 280px;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.option{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 1px lightgray;
    border: 1px solid lightgray;
}

.minidash{
    width: 100%;
    border-top: 1px solid rgb(232, 231, 231);
}

.line{
    display: flex;
    flex-direction: row;
    margin-left: 8px;
}

.line h6{
    font-size: 13px;
}

.option h4, .option h2, .option h6{
    font-weight: lighter;
}

.option h4{
    margin: 8px 0 10px 8px;
}

.option h2{
    color: orange;
    font-weight: 100;
    font-size: 40px;
    margin: 0 0 2px 8px;
}

.option span{
    font-size: 12px;
    margin-left: 2px;
}

.option h6{
    margin: 0 0 6px 8px;
}

.option button{
    width: 65%;
    height: 15%;
    border: 1px solid orange;
    background-color: white;
    border-radius: 99px;
    color: orange;
    margin: 5px 0 0 39px;
    cursor: pointer;
}

.part7{
    height: 500px;
    width: 100%;
    background-color: white;
}

.login{
    float: right;
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h1{
    font-weight: lighter;
}

.input-box{
    height: 55%;
    width: 100%;
}

.labeling{
    font-size: 15px;
    color: rgb(14, 14, 14);
    font-weight: lighter;
    margin-top: 5px;
}

.styling{
    width: 65%;
    padding: 7px 0;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin-top: 7px;
}

.radio{
    padding: 9px 0;
    width: 436px;
    border: 1px solid lightgray;
    margin-left: 55px;
    margin-top: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#feedback{
    margin-left: 236px;
}

footer{
    width: 100%;
    height: 170px;
    background-color: rgb(67, 67, 67);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.store{
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}


.more{
    display: flex;
    flex-direction: row;
    float: left;
}

.more h6{
    margin-right: 15px;
    font-size: 12px;
    color: rgb(157, 157, 157);
}

.social i{
    margin-left: 4px;
    color: rgb(157, 157, 157);
}

.credit{
    width: 75%;
    height: 70px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credit h6{
    font-weight: lighter;
    font-size: 11px;
    color: rgb(157, 157, 157);
}