body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.display{
    background-color: orange;
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
}

h1, h2{
    color: white;
}

h1{
    margin-right: 10px;
    margin-left: 2px;
}

h2{
    margin-top: 28px;
}

.info{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}