
*{
    padding: 0;
    margin: 0;
}

body{
    background: #207198;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.box{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.box_img{
    width: 50%;
    float: left;
}

.box_form{
    width: 40%;
    float: right;
}

.box_form h1{
    color: #E0E0E0;
    font-size: 25px;
}

.box_form h4{
    font-size: 11px;
    line-height: 17px;
    color: #F2F2F2;
    margin-bottom: 35px;
}

.box_form a{
    text-decoration: none;
    color: rgba(251, 114, 76, 1);
}

.box_input{
    display: flex;
    flex-direction: column;
}

input{
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #207198;
    height: 40px;
    outline-color: rgb(31, 206, 31);
    padding-left: 10px;
}

label{
    color: #ffffff;
    font-size: 12px;
    line-height: 22px;
    margin-top: 2px;
}

.error h5{
    font-family: 'Source Sans Pro';
    font-style: normal;
}

.box_input .error .ErrorText{
    color: #FF0C3E;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}

button{
    background-color: rgba(251, 114, 76, 1);
    border-radius: 8px;
    padding: 12px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
}

.box_input h5{
    margin-top: 5px;
    color: #ffffff;
    font-weight: 300;
}


.box_seperate{
    width: 70%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    margin-left: 15px;
}

.box_seperate h3{
    color: #ffffff;
}

.line{
    height: 1px;
    width: 90px;
    background: #ffffff;
}

.box_button{
    width: 100%;
    background: #E3F1FE;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #207198;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.icon{
    margin-right: 8px;
}

#eyes{
    width: 27px;
    height: 20px;
    background-image: url(../../../../assets/icon/Vector.svg);
    background-size: cover;
    position: absolute;
    left: 83%;
    top: 60%;
    cursor: pointer;
}

#coneyes{
    width: 27px;
    height: 20px;
    background-image: url(../../../../assets/icon/Vector.svg);
    background-size: cover;
    position: absolute;
    left: 83%;
    top: 71%;
    cursor: pointer;
}

#eyes img{
    object-fit: cover;
    width: 100%;
}

#coneyes img{
    object-fit: cover;
    width: 100%;
}

